.woocommerce-billing-fields__field-wrapper {
    padding: 15px 0;
}


$formRowWidth: 100%;

.woocommerce-additional-fields {
    h3:first-of-type {
        color: $nb-p-color;
        font-size: 1.5em;
        border-bottom: 1px solid map-get($theme-colors,"light");
        padding-bottom: 10px;
    }
}

.wc_payment_methods {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    background: map-get($theme-colors,"warning");
    color: #f5f5f5;
    li {
        padding: 10px;
    }
    .payment_box {
        p{
            color:#f5f5f5;
        }
    }
}



//terms 
.woocommerce-terms-and-conditions-wrapper {
    margin:25px 0;
    padding: 5px;
    background: map-get($theme-colors,"light");
    .woocommerce-form__label {
        &.checkbox {
            @include make-col-ready();
            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }
        }
    }

    .woocommerce-terms-and-conditions-link {
        color: map-get($theme-colors,"warning");
    }
}

//thank you message
.woocommerce-thankyou-order-details {
    list-style: none;
    margin: 0;
    padding: 15px;
    border: 1px solid map-get($theme-colors,"light");

    li {
        padding: 5px;
        @include make-row();
        color: $nb-p-color;
    }
}

.woocommerce-order-details,
.woocommerce-customer-details  {
    padding: 15px;
    border: 1px solid map-get($theme-colors,"light");
}

//login form toggle
.woocommerce-form-login-toggle {
    background: map-get($theme-colors,"light");
    padding: 5px;

    a {
        font-weight: 900;
    }
}
//review order table
.woocommerce-checkout-review-order-table {
    font-size: 0.9rem;
}

.woocommerce-checkout-payment {
    #place_order {
        display: block;
        padding: 10px 5px;
        width: 100%;
        background-color: map-get($theme-colors, "primary" );
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
    }
}