
.woocommerce-page-wrapper {
    margin-bottom: 15px;
}


/************************
Product Content Grid
**************************/
.woocommerce-shop-page {
    //product normal looping
    
    .products {
        list-style: none;
        margin: 0;
        padding: 10px 0;
        
        &.columns-4,
        &.columns-3 {
            @include make-row();
        }
        
        &.columns-4,
        &.columns-3 {
            .product {
                @include make-col-ready();
                padding-bottom: 10px;
            }
        }
    
        &.columns-3 {
            .product {
                @include make-col(6);
                @include media-breakpoint-up(sm)  {
                    @include make-col(4);
                }
            }
        }
    
        &.columns-4 {
            .product {
                @include media-breakpoint-up(sm)  {
                    @include make-col(3);
                }
            }
        }

        
    }
}

/*
    Product Archive Top 
*/
.wc-order-wrapper {
   @include make-row();
   border-bottom: 1px solid map-get($theme-colors,"warning");
   padding-bottom:10px;
   
   .woocommerce-ordering,
   .woocommerce-result-count {
       @include make-col-ready();
       margin-bottom:0;
   }

   .woocommerce-result-count {
        color: map-get($theme-colors, "dark-light" );
        @include media-breakpoint-up(sm)  {
            @include make-col(8);
        }
   }

   .woocommerce-ordering {
       .orderby {
           width:100%;
       }
       
       @include media-breakpoint-up(sm)  {
           @include make-col(4);
       }
   }
}

/**
Header Title
*/
.woocommerce-products-header {
    text-transform: uppercase;

}

.nb-shop-navigation {
    &.wc-shop-category-subnav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        border-top: 1px solid map-get($theme-colors, "dark" );
        border-bottom: 1px solid map-get($theme-colors, "dark" );
        margin-bottom: 10px;
        
        li {
            float: left;
            padding: 5px;
            margin-right: 10px;
            a {
                display: block;
                position: relative;
                text-align: center;
            }

            &:first-of-type {
                a {
                    text-align: left;
                }
            }
        }

        &:after {
            @include clearfix;
        }
    }
}