


p {
    line-height: 1.7em;
    text-align: justify;
    color: $nb-p-color;
    font-size: $standard-font-size;
}

a {
    color: #030303;
}

h1 {
    font-size: $h1-size;
}

address {
    abbr {
        display:block;
        padding:0;
        margin: 0;
        font-size: calc(10px + 0.2vw);
    }
}


//text
.nb-text-hl {
    color: #f5f5f5;
    text-align: center;
}

//use for form with title
.nb-text-title {
    color: $nb-p-color;
    border-bottom: 1px solid $nb-gray-lighter;
    padding-bottom: 10px;
}

.to-upper {
    text-transform: uppercase;
}

.nb-text-white {
    color: #f5f5f5;
}

//footer
.nb-footer-text-wrapper {
    text-align: left;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}




