/**
 * WooCommerce color variables
 */
 $woocommerce__color-error: #e2401c;
 $woocommerce__color-success: #0f834d;
 $woocommerce__color-info: #3D9CD2;

 @import "assets/bootstrap4/functions";
 @import "assets/bootstrap4/variables";
 @import "assets/bootstrap4/mixins";
 

/************************************
* Imports
*************************************/
@import "theme/variable-site/_theme_variables";

@import "theme/mixins/mixins";

/**
 * Shop tables
 */
@import "woocommerce/shop/cart";

/**
 * Products
 */
@import "woocommerce/shop/products";

/**
 * Single product
 */
@import "woocommerce/shop/single-product";

/**
 * Checkout
 */
@import "woocommerce/shop/checkout";

/**
 * General WooCommerce components
 */
@import "woocommerce/shop/components";

/**
 * WooCommerce widgets
 */
@import "woocommerce/shop/widgets";