
@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//helper
@mixin clearfloats() {
    display: block;
    content:'';
    clear: both;
}


//effect
@mixin transform($tran...) {
    -webkit-transform: $tran;
    -moz-transform: $tran;
    -ms-transform: $tran;
    -o-transform: $tran;
    transform: $tran;

}


//style



//animation mixin
@mixin bounce() {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@mixin animated() {
   
    @include media-breakpoint-up(sm) {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@mixin fun-animation($name, $duration : 1s) {
    
    animation-name: $name;
    animation-duration:$duration;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: $name;
    -webkit-animation-duration:$duration;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -moz-animation-name: $name;
    -moz-animation-duration:$duration;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}