


//mini slider 
.nb-mini-slider {
    width: 100%;
    overflow: hidden;
    
    img {
        width: 100%;
        
    }

    .owl-dots {
        position: absolute;
        bottom:0px;
        z-index: 999;
        width:100%;
        .owl-dot {
            border-radius: 5px;
        }
    }
}




