
/**
 * Notices
 */
 .woocommerce-message,
 .woocommerce-info,
 .woocommerce-error,
 .woocommerce-noreviews,
 p.no-comments {
     @include clearfix;
     clear: both;
 }
 
  .woocommerce-message,
 .woocommerce-info,
 .woocommerce-error,
 .woocommerce-noreviews {
    padding: 10px 25px;
    margin: 10px 0;
    font-family: $nb-global-ff;
    font-size: 12px;
    display: block;
    width: 100%;
    margin: 10px 0;
    line-height: 2rem;
    &::after {
        @include clearfix();
    }
 }


 .woocommerce-info {
    border-left: 2px solid map-get($theme-colors,"warning");
    background: map-get($theme-colors,"light");
 }
 
 .woocommerce-noreviews,
 p.no-comments
 {
    padding: 5px;
    background-color: map-get($theme-colors,"light");
    border-left: 2px solid map-get($theme-colors,"primary");

 }
 
 .woocommerce-message {
    &::before {
        @include fa-icon('\f00c',false,true);
        color: #8fae1b;
        left: 8px;
        top: 12px;
    }

    .button {
        float: right;
    }
    
    position: relative;
    border-bottom: 2px solid #8fae1b;
    background: map-get($theme-colors,"light");
 }	

