
/**
 * Notices
 */
 .woocommerce-message,
 .woocommerce-info,
 .woocommerce-error,
 .woocommerce-noreviews,
 p.no-comments {
     @include clearfix;
     clear: both;
 }
 

 .woocommerce-message,
 .woocommerce-info,
 .woocommerce-error,
 .woocommerce-noreviews {
    padding: 10px 5px;
    margin: 10px 0;
    font-family: $nb-global-ff;
    font-size: 12px;
    
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
 }


 .woocommerce-info {
    border-left: 2px solid map-get($theme-colors,"warning");
    background: map-get($theme-colors,"light");
 }
 
 .woocommerce-noreviews,
 p.no-comments
 {
    padding: 5px;
    background-color: map-get($theme-colors,"light");
    border-left: 2px solid map-get($theme-colors,"primary");

 }
 
 .woocommerce-message {
    border-bottom: 2px solid map-get($theme-colors,"brown");
    background: map-get($theme-colors,"light");
 }	

