
.ns-slider-presentation {
    
    position: relative;
    width: 100%;

    .title-wrapper {
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 3;

        
        .ns-shadow-skew {
            position: absolute;
            height: 100%;
            width:100%;
            top:0;
            background: rgba($color: #fff, $alpha: 0.6);
            z-index: 1;
            
            @include media-breakpoint-up(sm) { 
                @include transform(skewX(-20deg));
                left: 22%;
                margin: auto;
                width: 50%;
            }
        }
        .ns-title-border,
        .ns-shop-button {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: 2;
            color: map-get($theme-colors , "secondary" );
            text-transform: uppercase;
            font-family: $nb-secondary-ff;
        }

        .ns-title-border
         {
            top: 60px;
            padding: 10px 0;
           
            &::after {
                content:"";
                height: 1px;
                width: 40%;
                position: absolute;
                left:0;
                right: 0;
                margin: auto;
                bottom:0;
                border: 1px solid map-get($theme-colors, "warning");
            }
            &::before {
                content:"";
                height: 1px;
                width: 40%;
                position: absolute;
                left:0;
                right: 0;
                top: 0;
                margin: auto;
                border: 1px solid map-get($theme-colors, "warning");
            }
            .ns-title-header {
                font-size: 3rem;
                position:relative;
                text-shadow: 1px 1px 5px map-get($theme-colors, "secondary");
                color: map-get($theme-colors, "dark" );
                @include nb-margin-padding();
                @include media-breakpoint-up(sm) {
                    font-size: 5.3rem;
                }
            }
    
            .ns-description-header {
                position:relative;
                font-size: 2rem;
                @include nb-margin-padding();
                text-shadow: 1px 1px 5px map-get($theme-colors, "secondary");
                color: map-get($theme-colors, "dark" );
                @include media-breakpoint-up(sm) {
                    font-size: 3.5rem;
                  
                }
            }
        }
        

        .ns-shop-button {
            display: block;
            padding: 15px 0;
            top: 250px;
            width: 120px;
            background-color: map-get($theme-colors, "warning" );
            color: map-get($theme-colors, "light" );
            font-weight: 900;
            text-decoration: none;
            text-align: center;
            @include transition(all 0.5s ease-in-out);
            font-family: $nb-global-ff;
            letter-spacing: 0.4rem;
            position: relative;

            @include media-breakpoint-up(sm) {
                top: 280px;
                width: 180px;
            }

            &:hover {
                background-color: map-get($theme-colors, "warning" );
                color: map-get($theme-colors, "dark" );
                @include transition(all 0.5s ease-in-out);
            }

          

        }
    }
}

//*** Announcement 
.ns-announcement-wrapper {
    padding: 10px 0;
    background-color: rgba($color: #fff, $alpha: 0.6);
    position:relative;

    

    .announcement-text {
        padding-bottom: 0;
        margin-bottom: 0;
        color: map-get($theme-colors,"dark");
    }
}

//dialog promotion

//dialog
$top-offset: 50%;
$left-offset: 50%;
$height: 448px;
$top: $top-offset - 35%;
$left: $left-offset - 15%;

.ns-dialog-wrapper {
    position: fixed;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    top:0;
    left: 0;
    .ns-container {
        width: 373px;
        height: 248px;
        top: 150px;
        opacity: 0;
        left: 0;
        z-index: 1001;
        position: absolute;

        @include media-breakpoint-up(sm) {
            width: 573px;
            height: 448px;
            top: $top;
            left: $left;
        }
    }

    img {
        width: 373px;
        height: 248px;
        @include media-breakpoint-up(sm) {
            width: 573px;
            height: 448px;
        }
    }


    .ns-close {
        position: absolute;
        top: -20px;
        right: -20px;
        background: darkred;
        padding: 5px 12px;
        font-weight: 900;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
    }

}