
//Footer
#footer-full {
    min-height: 300px;
    width:100%;
    background: map-get($theme-background,"footer");
}

.footer-bottom {
    background: map-get($theme-background,"bottom-footer");
    padding: 5px 0;
}