.main-wrapper {
    height: 100%;
}

.page-wrapper {
    min-height: 350px;
    padding: 15px 0;
}

.error-404 {
    padding: 150px 0;
}

.body-content {
    p {
        text-align: justify;
    }
}



/************************
Woocommerce
**************************/

/************************
Product Content Grid
**************************/
.woocommerce-shop-page {
    //product normal looping
    .products {
        list-style: none;
        margin: 0;
        padding: 0;
        @include make-row();
        
        &.columns-4,
        &.columns-3 {
            .product {
                @include make-col-ready();
            }
        }
    
        &.columns-3 {
            .product {
                @include media-breakpoint-up(sm)  {
                    @include make-col(4);
                }
            }
        }
    
        &.columns-4 {
            .product {
                @include media-breakpoint-up(sm)  {
                    @include make-col(3);
                }
            }
        }
    }
}


.woocommerce-page-wrapper {
    margin-bottom: 15px;
}
