.main-wrapper {
    height: 100%;
}

.page-wrapper {
    min-height: 350px;
    padding: 15px 0;
}

.error-404 {
    padding: 150px 0;
}

.body-content {
    p {
        text-align: justify;
    }
}



/************************
Woocommerce
**************************/


