//section
.nb-section {
    .nb-section-title-wrapper {
        margin-bottom: 35px;
        text-align: center;
    }
    
    &.slider-section {

        height: 400px;
        overflow: hidden;
        position: relative;

        @include media-breakpoint-down(lg) {
            height: 350px;
        }

        @include media-breakpoint-down(md) {
            height: 260px;
        }

        @include media-breakpoint-down(sm) {
            height: 320px;
            .videoContainer__video {
                height: 320px !important;
                object-fit: cover;
            }
        }

        

        .loading-bar-wrapper {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 500px;
            z-index: 980;
            background: $nb-gray-dark;
            color: #fff;

            .fa {
                color: #fff;
            }
        }

    }
    
    &.undercon-section {
        width:100%;
        background: #fff;
        .header-group {
            text-align: center;
            p{
                text-align: center;
            }
        }
    }
    
    &.collection-section {
        width:  100%;
        min-height: 200px;
        background-color: #f5f5f5;
        padding: 15px 0;
    }
    
    

    &.full-section {
        width:  100%;
        background-color: #fff;
    }

    &.testimony-section {
        background-size:  cover;
        min-height: 250px;
    }
}

 //heading section
 .nb-section-title {
    font-size: 1.9rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    position: relative;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    &:after, &:before {
        content: '';
        position: absolute;
        bottom: 0;
    }

    &:after {
        height: 2px;
        background-color: $nb-gray-light;
        left: 25%;
        right: 25%;
    }

    &::before {
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        background-color: $nb-link-color;
        left: 50%;
        transform: translatex(-50%);
        bottom: -6px;
        z-index: 9;
        border-radius: 50%;
    }
}




