
//card mod
.card-nab-product-type {
    width: 100%;
    height: 300px;
    overflow: hidden;
    
    .nb-card-wrapper {
        position:relative;
        height: 300px;
        &:hover {
            cursor: pointer;
            .card-top-img {
                @include the-transform(scale(1.1));
            }
        }
    }

    .card-top-img {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        @include transition(all .5s ease-in-out);
    }

    .nb-card-body {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.35);
        top:0;
        left:0;
    }
}

.card-footer-wrapper {
    background: transparent;
    border: none;

    .card-header {
        background: transparent;
        margin-bottom: 15px;
        font-weight: 700;
        padding: 0 0 0 15px;
        font-size: 14px;
        border: none;

        position:relative;
        &::before {
            display: inline-block;
            font-weight: 900;
            content: '';
            width: 3px;
            height: 100%;
            background: $nb-color-red;
            position: absolute;
            top: 0;
            left: 0;
        }

    }

    ul.menu {
        margin:0;
        padding:0;
        list-style: none;
        li {
            a {
                display: block;
                padding: 2px 0;
                text-decoration: none;
                font-size: $standard-menu-size;
                color: $nb-color-brown;
                
            }
            position: relative;
           
        }
    }    
}

.card-hallo {
    width:100%;
    height: 650px;
    background: transparent;
    .card-group-header {
        text-align: center;
    }

}