body {
    font-size: 100%;
    font-family: $global-font-family;
    font-size: $standard-font-size;
    background: #fff;
}



.nb-form {
    .input-group {
        .form-control {
            border: 1px solid $nb-color-brown;
            @include box-shadow(transparent);
            @include border-left-radius(0%);
            
            &::focus {
                border: 1px solid $nb-color-brown;
            }
        }

        .input-group-text {
            @include border-radius(0%);
            background-color: transparent;
            border: 1px solid $nb-color-brown;
            &:hover {
                background-color: $nb-color-creme;
            }
        }
    }
}


//override
.__youtube_prefs__ {
    width: 100% !important;
}

.woocommerce-info {
    
}