body {
    font-size: 100%;
    font-family: 'Open Sans', Courier, monospace;
    font-size: calc(12px + 0.3vw);
    background: #f5f5f5;
}


p {
    line-height: 1.7em;
    text-align: justify;
    color: $nb-color-brown;
    font-size: calc(12px + 0.3vw);
}

a {
    color: #030303;
    
}


address {
    abbr {
        display:block;
        padding:0;
        margin: 0;
        font-size: calc(10px + 0.2vw);
    }
}

.nb-form {
    .input-group {
        .form-control {
            border: 1px solid $nb-color-brown;
            @include box-shadow(transparent);
            @include border-left-radius(0%);
            
            &::focus {
                border: 1px solid $nb-color-brown;
            }
        }

        .input-group-text {
            @include border-radius(0%);
            background-color: transparent;
            border: 1px solid $nb-color-brown;
            &:hover {
                background-color: $nb-color-creme;
            }
        }
    }
}


//override
.__youtube_prefs__ {
    width: 100% !important;
}

.woocommerce-info {
    
}