
//override woocommerce bread crumbs
.woocommerce-breadcrumb {
    
    padding: 15px 0;
    color: map-get($theme-colors, "dark" );
    a {
        color: map-get($theme-colors, "warning" );
        text-decoration: none;
    }
}

//cart breadcrumbs
.nb-wc-cart-breadcrumbs {
	padding: 5px;
	color: $nb-p-color;
	font-size: 0.9rem;
}