//Main header Navigation
.nb-header {
    border-bottom: 1px solid $nb-link;
    padding: $nb-pbv 0;
    background: map-get($theme-colors,"white");
}

//footer 
.menu-footer {
    ul.menu {
        margin:0;
        padding:0;
        list-style: none;
        li {
            a {
                padding: 2px 0;
                color: $nb-link;
                font-size: $nb-standard-ss;
            }
            position: relative;
           
        }
    }    
}


.nb-tran-icon {
    padding: 7px;
    display: flex;
    flex-direction: row;
	
	.user-content {
		color: $nb-p-color;
    }
    

}



//page navigation
.nb-page-nav {
    padding: $nb-pbv 0;
    display: block;
    > ul {
        list-style: none;
        @include nb-margin-padding();
        float:left;
        li {
            float: left;
            a {
                display: block;
                padding: 5px 10px;
            }
        }
    }

    &::after {
        @include clearfix();
    }
}

.mobile-menu {
    top: 0;
    left: 0;
    position: fixed;
    @include transform(translate3d(-100%,0,0));
    background: rgba($color: #000000, $alpha: 0.90);
    height: 100vh;
    width: 100%;
    z-index: 9000;
    padding: 10px;
    @include transition(all 1s ease);
    
    .mobile-close-icon {
        color: map-get($theme-colors,"white");
        @include nb-top-left();
        z-index: 9001;
        padding: 5px;
    }
    
    .navbar-nav {
        color: map-get($theme-colors,"light");
        li.menu-item {
            .nav-link {
                text-align: left;
                display: block;
                color: map-get($theme-colors,"light");
                border-bottom: 1px solid map-get($theme-colors,"light");
                color: map-get($theme-colors,"light");
                padding: 10px 0 10px 15px;
                position: relative;
                
                &::before {
                    display: inline-block;
                    content: $nb-bc-icon;
                    @include nb-top-left(6px,0);
                    color: map-get($theme-colors,"warning");
                }
            }
            ul.dropdown-menu {
                margin-left: 15px;
                background-color: transparent;
                border: none;
                a.dropdown-item {
                    display: block;
                    color: map-get($theme-colors,"light");
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }

    &.show {
        @include transform(translate3d(0,0,0));
        @include transition(all 0.1s ease);
    }
}

$dropdown-width: 700px;
$dropdown-height: 300px;

//main - menu
.nb-navbar {
    position:relative;
    padding:0;
    background: map-get($theme-colors,"dark");
    width:100%;

    .cart-management {
        position: absolute;
        right: 20px;
        display: none;
        top: 5px;
        padding:10px;
        @include border-radius(50%);
        background: map-get($theme-colors , "light" );

        .count { font-weight: 900;}
    }

    &.sticky {
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    ul.nb-menu {
        list-style: none;
        @include nb-margin-padding();
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        //for none dropdown
        li.nb-link {
            position: relative;
            padding: $nb-pbv 0;
            > a.nb-item-menu {
                display: block;
                color: #f5f5f5;
                padding: 0 25px;
                font-size: 0.8rem;
                font-family: $nb-third-ff;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            &::before {
                position: absolute;
                height: 0;
                content: '';
                background-color: map-get($theme-colors,"warning");
                width: 100%;
                display: block;
                bottom:0;
                left:0;
                
            }

            &:hover {
                &::before {
                    height: 2px;
                    
                }
            }
        }

        //dropdown list
        li.nb-dropdown {
            a.nb-dropdown-toggle {
                display: block;
                padding: 0 25px;
                color: map-get($theme-colors,"light");
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                position: relative;
                font-size: 0.8rem;
                font-family: $nb-third-ff;
                &::after {
                    @include fa-icon($nb-fa-angle-down,true,true);
                    bottom: 0px;
                    right: 10px;
                }
            }
            
            &:first-of-type {
                > a.nb-dropdown-toggle {
                    padding-left:0 !important;
                }
            }

            &:last-of-type {
                > a.nb-dropdown-toggle {
                    padding-right:0 !important;
                }
            }
        }

        .nb-dropdown {
            &:hover {
                .nb-dropdown__wrapper {
                    display: block;
                    @include fun-animation(fadeIn,$fill:both);
                }
            }
        
            &__wrapper {
                display: none;
                opacity: 0;
                @include transition(opacity 1.2s ease);
                background: map-get($theme-colors,"white");
                @include nb-top-left(100%,0);
                width: $dropdown-width;
                height: $dropdown-height;
                padding: 0;
                border: 1px solid map-get($theme-colors,"light");;
                z-index: 9000;

                .full-container { 
                    height: 100%;
                }

                .nb-wc-menu-product {
                    position: relative;
                    display: none;

                    .product-cat-thumbnail {

                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 150px;
                        width: 200px;

                    }
                }
            }
            
            &-container {
                position: relative;
                @include nb-width-height(100%,100%);
                padding: 10px 5px;
                border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
                overflow: hidden;

                .subnav-top-product-list {
                    ul {
                        list-style: none;
                        margin:0;
                        padding:0;
                        li {
                            a {
                                font-size: 0.8rem;
                                color: map-get($theme-colors,"secondary");
                                font-weight: 900;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
            
            &-subnav {
                list-style: none;
                padding:0;
                margin: 0;
                width: 100%;
                > li.nb-category-subnav {
                    
                    .nb-icon {
                        font-family: $nb-third-ff;
                        padding: 5px 0 5px 30px;
                        position: relative;
                        display: block;
                        font-size: inherit;
                        text-align: left;
                        width: 100%;
                        text-decoration: none;
                        color: $nb-p-color;
                    }
        
                    &.active {
                        background-color: map-get($theme-colors,"light");
                        border-bottom: 2px solid map-get($theme-colors,"danger" );
                        a.nb-icon {
                            color: map-get($theme-colors,"warning");
                        }
                    }
                }
            }
        }
    }
}


