@mixin menu-animation($name) {
    animation-name: $name;
    animation-duration:.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: $name;
    -webkit-animation-duration:.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: $name;
    -moz-animation-duration:.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@mixin navicon() {
    font-weight: bold;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
}

//Main header Navigation
.nb-header {
    border-bottom: 1px solid $nb-color-creme;
    padding: $nb-padding-header 0;
    background: #fff;
}


//page navigation
.nb-page-nav {

    padding: $nb-padding-header 0;
    display: block;
    float: right;
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float:left;
        li {
            float: left;
            a {
                display: block;
                padding: 5px 10px;
            }
        }
    }

    &::after {
        @include clearfloats();
    }
}

.mobile-menu {
    top: 0;
    left: 940px;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.90);
    height: 100vh;
    width: 100%;
    z-index: 9000;
    padding: 10px;
    @include transition(left 0.1s ease);
    
    .mobile-close-icon {
        color: #fff;
        position: absolute;
        z-index: 9001;
        top: 0;
        left: 0;
        padding: 5px;
    }
    
    .navbar-nav {
        color: $nb-gray-lighter;
        li.menu-item {
            .nav-link {
                text-align: left;
                display: block;
                color: $nb-gray-lighter;
                border-bottom: 1px solid #f5f5f5;
                color: #f5f5f5;
                padding: 10px 0 10px 15px;
                position: relative;
                &::before {
                    display: inline-block;
                    content: '»';
                    position: absolute;
                    top: 6px;
                    left: 0;
                    color: $nb-color-brown;
                }
            }
            ul.dropdown-menu {
                display: block;
                position: static;
                margin-left: 15px;
                background-color: transparent;
                border: none;
                a.dropdown-item {
                    color: $nb-gray-lighter;
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }
    &.show {
        left: 0;
        @include transition(all 0.1s ease);
    }
}

.search-section-wrapper {
    padding: $nb-padding-header 0;
    background-color: #fff;
    border-bottom: 1px solid $nb-color-creme;
}



$dropdown-width: 600px;

//main - menu
.nb-navbar {

    padding:0;
    background: $nb-color-dark;

    ul.nb-menu {
        
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        //for none dropdown
        li.nb-link {
            position: relative;
            padding: $nb-padding-header 0;

            > a.nb-item-menu {
                display: block;
                color: #f5f5f5;
                padding: 0 25px;
                
                font-size: calc(10px + 0.2vw);
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                
            }

            &::before {
                position: absolute;
                height: 0;
                content: '';
                background-color: $nb-color-creme;
                width: 100%;
                display: block;
                bottom:0;
                left:0;
                
            }

            &:hover {
                &::before {
                    height: 2px;
                }
            }
        }

        //dropdown list
        li.nb-dropdown {
            a.nb-dropdown-toggle {
                
                display: block;
                padding: 0 25px;
                color: #f5f5f5;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                position: relative;
                
                &::after {
                    @include navicon();
                    bottom: 0px;
                    right: 10px;
                }
            }
            &:first-of-type {
                > a.nb-dropdown-toggle {
                    padding-left:0 !important;
                }
            }

            &:last-of-type {
                > a.nb-dropdown-toggle {
                    padding-right:0 !important;
                }
            }
        }

        .nb-dropdown {
            position: relative;
            &:hover {
                .nb-dropdown__wrapper {
                    display: block;
                    @include menu-animation(fadeOut);
                }
            }
        
            &__wrapper {
                display: none;
                transition: opacity 1.2s ease;
                background: #fff;
                position: absolute;
                width: $dropdown-width;
                height: 300px;
                padding: 10px 0;
                border: 1px solid $nb-gray-lighter;
                left: 0;
                top:100%;
                position: absolute;
                z-index: 9000;
                
                .full-container { 
                    height: 100%;
                }
            }

            
            .nb-dropdown-container {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 5px;
                border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
            }
            
            &-subnav {
                list-style: none;
                padding:0;
                margin: 0;
                width: 100%;
                
                > li.nb-category-subnav {
                    > a {
                        padding: 5px 0;
                        display: block;
                        font-size: inherit;
                        text-align: left;
                        width: 100%;
                        text-decoration: none;
                    }
        
                    &.active {
                       > a {
                            background-color: $nb-gray-lighter;
                            color: $nb-color-creme;
                        }
                    }
                }
            }
        }
    }
}


.nb-wc-menu-product {
    width: 100%;
    height: 100%;
    position: absolute;
    display:none;
     ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding:2px 0;
            a.nb-product-navlink {
                font-size: calc(0.7em + 0.1vw);
                color: $nb-p-color;
            }
        }
    }

    .nb-wc-product-feature {
        width: 100%;
        @include border-radius(5px);
    }
}