
//woocommerce pagingation
.woocommerce-pagination {
	width:100%;
	border-top: 1px solid map-get($theme-colors,"light");
	border-bottom: 1px solid map-get($theme-colors,"light");
	margin: 5px 0;
	padding: 0;
	.page-numbers {
		list-style: none;
		display:block;
		padding: 5px 0;
		margin: 0 auto;
		width: auto;
		
		li {
			float: left;
			margin-left: 10px;
			a {
				text-decoration: none;
				&:hover {
					background: map-get($theme-colors ,"warning" );
					color: map-get($theme-colors,"dark");

				}
			}
			.page-numbers {
				padding: 5px 10px;
				border: 1px solid map-get($theme-colors,"light");
				@include border-radius(50%);
			}


			span.current {
				background: map-get($theme-colors ,"primary" );
				color: map-get($theme-colors ,"light" );
			}
		}
		&::after {
			@include clearfix;
		}
	}
}