.woocommerce-billing-fields__field-wrapper {
    padding: 15px 0;
}


$formRowWidth: 100%;

.woocommerce-additional-fields {
    h3:first-of-type {
        color: $nb-p-color;
        font-size: 1.5em;
        border-bottom: 1px solid $nb-gray-lighter;
        padding-bottom: 10px;
    }
}

.wc_payment_methods {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    background: $nb-color-creme;
    color: #f5f5f5;
    li {
        padding: 10px;
    }
    .payment_box {

        p{
            color:#f5f5f5;
            
        }
        
    }
}

//thank you message
.woocommerce-thankyou-order-details {
    list-style: none;
    margin: 0;
    padding: 15px;
    border: 1px solid #f5f5f5;

    li {
        padding: 5px;
        @include make-row();
        color: $nb-p-color;
    }
}

.woocommerce-order-details,
.woocommerce-customer-details  {
    padding: 15px;
    border: 1px solid #f5f5f5;
}