$color__link : #000;
$color__text-main: #000;
/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	@include clearfix;

	.cart-contents {
		text-decoration: none;
	}

	.widget_shopping_cart {
		display: none;
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
	}
}

.star-rating-wrapper {
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	z-index: 999;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: "\53\53\53\53\53";
		opacity: 0.25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		color: #030303;
	}

	span {
		overflow: hidden;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;

		strong { display: none}
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $nb-color-orange;
		
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $nb-color-blue;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $nb-color-blue;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $nb-color-blue;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
		display: flex;
		li {
			margin: 0;
			position: relative;
			border: 1px solid $nb-gray-lighter;
			background: #fff;

			a {
				padding: 1em 10px;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				transform: translate3d();
				color: $nb-color-brown;
			}

			&.active {
				border-bottom: 2px solid #fff;
				box-shadow: 7px 2px 9px -6px rgba(204,202,204,1);
			}
		}
	}

	.woocommerce-Tabs-panel {
		//border: 1px solid $nb-gray-lighter;
		padding: 10px;
		background: #fff;
		border-left: 1px solid $nb-gray-lighter;
		box-shadow:  0px 12px 9px -10px rgba(204,202,204,1);
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}


/***********

Cart from wrapper

**************/
.cart-form-wrapper {
	border-top: 1px solid $nb-gray-lighter;
	margin: 15px 0;
	padding: 10px 0;
}

.single_variation_wrap {
	margin: 10px 0;
	.price {
		padding: 10px 0;
		margin: 10px 0;
		display: block;
	}
}



.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	clear: both;
}

.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments
{
	background-color: $woocommerce__color-success;
}

.woocommerce-message {
	padding: 10px 5px;
	margin: 10px 0;
	background: $nb-gray-lighter;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	border-bottom: 2px solid $nb-color-brown;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $woocommerce__color-info;
}

.woocommerce-error {
	background-color: $woocommerce__color-error;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}



@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart {
		.widget_shopping_cart {
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: 999999;
			left: -999em;
			display: block;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		}

		&:hover,
		&.focus {
			.widget_shopping_cart {
				left: 0;
				display: block;
			}
		}
	}
}
