

@mixin woocom-titleicon() {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
	font-family: "FontAwesome";
	font-size: $standard-font-size;
    position: absolute;
	top:0;
	left:0;
	bottom:15px;
	
}

$color__link : #000;
$color__text-main: #000;


.nb-wc-cart-breadcrumbs {
	padding: 10px 5px;
	background: $nb-gray-lighter;
	@include border-radius(5px);
	color: $nb-color-creme;
}


/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: "\53\53\53\53\53";
		opacity: 0.25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		color: #030303;
	}

	span {
		overflow: hidden;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;

		strong { display: none}
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $nb-color-orange;
		
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $nb-color-blue;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $nb-color-blue;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $nb-color-blue;
				opacity: 1;
			}
		}
	}
}


/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}



.nb-tran-icon {
    padding: 7px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
	
	.user-content {
		color: $nb-p-color;
	}
}



.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	clear: both;
}


.woocommerce-noreviews,
p.no-comments
{
	background-color: $woocommerce__color-success;
}

.woocommerce-message {
	padding: 10px 5px;
	margin: 10px 0;
	background: $nb-gray-lighter;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	border-bottom: 2px solid $nb-color-brown;
}	

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}



/*
* Comment
*/
.commentlist {
	list-style: none;
	margin: 0;
	padding:0;
}

.comment_container {
	display: flex;
	flex-direction: row;
	.avatar {
		margin: 15px;
	}
	border-bottom: 1px solid #f5f5f5;
}
.comment-respond {
	margin: 25px 0 10px 0;
}


/*
	title icon
*/

.nb-title-ico {
	@include woocom-titleicon();
	&.billing-address {
		content: '\f015';
	}
}


$prefix : '.nb';

#{$prefix}-input-group-wrapper {
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width:150px;
}

#{$prefix}-wc-input-qty {
	
	  display: inline-block;
	  border: 1px solid $nb-gray-lighter;
	  text-align:center;
	  padding: 5px 0;
	  &.qty {
		  
		width: 3rem !important;
	}
}

#{$prefix}-wc-input-qty__modifier,
#{$prefix}-wc-input-qty {
	user-select: none;
  	outline: none;
}

#{$prefix}-wc-input-qty__modifier {

	padding:5px;
	width: 2rem;
	  
  	background: $nb-gray-lighter;
  	color: $nb-p-color;
	text-align: center;
	border: 1px solid $nb-gray-lighter;

	&:hover {
		cursor: pointer;
		background: $nb-gray-light;
		color: white;
	}
}
