
@keyframes linkOpacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes linkOpacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes linkOpacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes linkOpacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@mixin product-link-animation($name) {
    animation-name: $name;
    animation-duration:.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: $name;
    -webkit-animation-duration:.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: $name;
    -moz-animation-duration:.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}



.woocommerce-page-wrapper {
    margin-bottom: 15px;
}

.woocommerce-variation-add-to-cart {
    margin: 5px 0;
    padding: 10px;
    border-top: 1px solid $nb-gray-lighter; 
    border-bottom: 1px solid $nb-gray-lighter; 
}

/*
    Product Archive Top 
*/
.wc-order-wrapper {
   
    @include make-row();
   border-bottom: 1px solid $nb-color-brown;
   margin-bottom: 10px;

   .woocommerce-ordering,
   .woocommerce-result-count {
       @include make-col-ready();
   }

   .woocommerce-result-count {
    @include media-breakpoint-up(sm)  {
        @include make-col(8);
    }
   }

   .woocommerce-ordering {
       .orderby {
           width:100%;
       }
       @include media-breakpoint-up(sm)  {
           @include make-col(4);
       }
   }
}

//looping
ul.products {
    list-style: none;
    margin: 0;
    padding: 0;
    @include make-row();

    .product {
        @include make-col-ready();
        @include media-breakpoint-up(sm)  {
            @include make-col(4);
        }
    }
}

//content-product

.wc-card-product-content {
    position: relative;
    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    }
    img {
        width:100%;
        object-fit: cover;
        
    }

    .sale-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        background: #58D68D;
        color: #fff;
        padding: 10px;
        font-size: 0.6rem;
        @include border-radius(50%);
    }

    .woocommerce-loop-product__title {
        font-size: 1rem;
        color: $nb-p-color;
        text-transform: capitalize;
        text-align:center;
        padding: 5px 0;
        font-weight: bold;
    }

    .star-rating {
        margin: auto;
    }

    .woocommerce-loop-product__link {
        text-decoration: none;
        border: 2px solid transparent;
        display: block;
        min-height: 300px;
        margin-bottom: 10px;
        padding: 5px;
        

    }

    .price {
        font-size: 1.1rem;
        color: $nb-color-brown;
        display: block;
        text-align:center;
        color: $nb-p-color;
    }
}


.card-product-thumbnail {
    
    overflow: hidden;
    .card-product-thumbnail-wrapper {
        position:relative;
        height: 250px;
        overflow: hidden;
    }
    
    
    
    &:hover {
        .card-img-top {
            @include the-transform(scale(1.1));
        }
        .woocommerce-loop-product__link {
            opacity: 1;
            @include product-link-animation(linkOpacityIn);
        }
    }

    .sale-wrapper {

        position: absolute;
        top: -43px;
        right: -9px;
        width: 50px;
        height: 100px;
        background: #58D68D;
        padding: 5px;
        z-index: 120;
        @include transform(rotate(-45deg));

        .onsale {
            position: absolute;
            top: 48px;
            left: 0;
            @include transform(rotate(45deg));
            color: $nb-color-red;
            font-size: calc(10px + 0.1vw);
            line-height: 1.2rem;
            font-weight: 700;
            border-radius: 5px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    

    .card-img-top {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        @include transition(all .2s ease-in-out);
        z-index: 99;
    }

    $bodyheight :  120px;

    .card-body {

        position: absolute;
        bottom: 0;
        
        margin:0;
        padding: 0 5px;
        z-index: 100;
        width: 100%;
        background: rgba($color: #fff, $alpha: 0.4);

        .star-rating-wrapper {
            width: 100%;
            z-index: 999;
        }

        .woocommerce-loop-product__title {
            font-size: 0.9rem;
        }

        .price {
            display: block;
            padding: 5px 0;
            font-weight: 700;
        }
    }
    
    .woocommerce-loop-product__link {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        width: 120px;
        transform: translate(-50%, -50%);
        display: table;
        background-color: #40c781;
        text-align:center;
        line-height:42px;
        font-weight:700;
        color:#fff;
        border-radius:3px;
        text-decoration:none;
        border:0px solid #35a76e;
        border-bottom-width:2px;
        margin-bottom: 10px;
        opacity: 0;
        @include product-link-animation(linkOpacityOut);
        
    }

    .product-title {
        color: #030303;
        font-size: calc(10px + 0.2vw);
        margin-bottom: 0;
        text-justify: unset;
    }
}
