
@keyframes linkOpacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes linkOpacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes linkOpacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes linkOpacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@mixin product-link-animation($name) {
    animation-name: $name;
    animation-duration:.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: $name;
    -webkit-animation-duration:.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: $name;
    -moz-animation-duration:.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

.woocommerce-active {
    .woocommerce-products-header__title {
        color: $nb-color-brown;

    }
}

.woocommerce-page-wrapper {
    margin-bottom: 15px;
}

.woocommerce-variation-add-to-cart {
    margin: 5px 0;
    padding: 10px;
    border-top: 1px solid $nb-gray-lighter; 
    border-bottom: 1px solid $nb-gray-lighter; 
}


.card-product-thumbnail {

    overflow: hidden;
    
    .card-product-thumbnail-wrapper {
        position:relative;
        height: 250px;
        overflow: hidden;
        
    }
    
    .star-rating-wrapper {
        position: absolute;
        width: 100%;
        top:0;
        left: 0;
        z-index: 999;
    }
    
    &:hover {
        .card-img-top {
            @include the-transform(scale(1.1));
        }
        .woocommerce-loop-product__link {
            opacity: 1;
            @include product-link-animation(linkOpacityIn);
        }
    }

    .sale-wrapper {

        position: absolute;
        top: -43px;
        right: -9px;
        width: 50px;
        height: 100px;
        background: #58D68D;
        padding: 5px;
        z-index: 120;
        @include transform(rotate(-45deg));

        .onsale {
            position: absolute;
            top: 48px;
            left: 0;
            @include transform(rotate(45deg));
            color: $nb-color-red;
            font-size: calc(10px + 0.1vw);
            line-height: 1.2rem;
            font-weight: 700;
            border-radius: 5px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    

    .card-img-top {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        @include transition(all .2s ease-in-out);
        z-index: 99;
    }

    $bodyheight :  120px;

    .card-body {

        position: absolute;
        bottom: 0;
        
        margin:0;
        padding: 0 5px;
        z-index: 100;
        width: 100%;
        background: rgba($color: #fff, $alpha: 0.4);

        .price {
            display: block;
            padding: 5px 0;
            font-weight: 700;
        }
        
        
    }
    
    .woocommerce-loop-product__link {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        width: 120px;
        transform: translate(-50%, -50%);
        display: table;
        background-color: #40c781;
        text-align:center;
        line-height:42px;
        font-weight:700;
        color:#fff;
        border-radius:3px;
        text-decoration:none;
        border:0px solid #35a76e;
        border-bottom-width:2px;
        margin-bottom: 10px;
        opacity: 0;
        @include product-link-animation(linkOpacityOut);
        
    }

    .product-title {
        color: #030303;
        font-size: calc(10px + 0.2vw);
        margin-bottom: 0;
        text-justify: unset;
    }
}
