/**
 * Single Product
 */

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}

.nb-wc-cart-wrapper {
	position:relative;
	.single_add_to_cart_button {
		margin-top: 2px;
		width: 100%;
	}
}



.summary {
	.onsale {
		padding: 5px;
		background: $nb-color-red;
		color: #f5f5f5;
		display: inline-block;
		border-radius: 5px;
		font-size: 12px;

	}

	.price {
		font-size: 1.2rem;
		text-transform: uppercase;
		color: $nb-p-color;
		border-top: 1px solid $nb-gray-lighter;
		border-bottom: 1px solid $nb-gray-lighter;
	}

	.posted_in {
		font-size: 0.8em;
		a {
			padding: 5px 2px;
			background: $nb-gray-lighter;
		}
	}
	.product_title {
		color: $nb-p-color;
		padding: 5px 0;
		border-bottom: 1px solid $nb-gray-lighter;
		letter-spacing: 0.4em;
		text-transform: uppercase;
		font-size: 1.6rem;
		
	}
	input.qty {
		resize: horizontal;
		text-align: center;
		background: rgba($color: #fff, $alpha: 0.3);
	}

	.woocommerce-product-details__short-description {
		margin: 15px 0;
	}
}

.woocommerce-product-gallery {

	position:relative;

	.woocommerce-product-gallery__trigger {

		position: absolute;
		top: .875em;
		right: .875em;
		display: block;
		height: 2em;
		width: 2em;
		z-index: 99;

	}

	.flex-control-nav {

		padding: 15px 0;
		display:block;
		list-style: none;

		li {
			padding: 5px;
			cursor: pointer;
			float: left;
			
			img {
				width: 50px; height: 50px;
			}
			
			@include media-breakpoint-up(sm) {
				img { width: 100px; height: 100px;}
			}
			
			&:hover {
				img {
					border: 2px solid $nb-color-red;
				}
			}
		}
		&:after {
			clear: both;
			content: '';
			display:block;
		}


	}
}


/**
 * Tabs
 */

 .woocommerce-tabs {
	margin: 15px 0;
	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
		display: flex;
		li {
			margin: 0;
			position: relative;
			border: 1px solid $nb-gray-lighter;
			background: #fff;

			a {
				padding: 1em 10px;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				transform: translate3d();
				color: $nb-color-brown;
			}

			&.active {
				
				background: $nb-color-blue;
				a {
					color: #f5f5f5 !important;
				}
			}
		}
	}

	.woocommerce-Tabs-panel {
		//border: 1px solid $nb-gray-lighter;
		padding: 10px;
		background: #fff;
		border: 1px solid $nb-gray-lighter;
		
		h2:first-of-type {
			margin-bottom: 1em;
			color: $nb-p-color;
			font-size: 1.2em;
			border-bottom: 1px solid #f5f5f5;
			padding-bottom: 10px;
		}
	}
}

.sharedaddy {
	margin-top:15px;
	@include make-row();
	.sd-title,
	.sd-content {
		@include make-ready-col();
	}

	.sd-title {
		@include media-breakpoint-up(sm) {
			@include make-col(8);
		}
	}

	.sd-content {
		@include media-breakpoint-up(sm) {
			@include make-col(4);
		}
	}
}

table.shop_attributes {
	width: 100%;
	th {
		padding: 5px;
		width: 20%;
		border: 1px solid $nb-gray-lighter;
	}
	td {
		padding: 5px;
		border: 1px solid $nb-gray-lighter;
		p{ 
			margin: 0;
			padding: 0;
		}
	}
}

//related products
.related {
	&.products {
		> h2:first-of-type {
			text-transform: uppercase;
			border-bottom: 1px solid $nb-gray-lighter;
			color: $nb-p-color;
			font-size: 1.5rem;
		}
	}
}