/**
 * WooCommerce Price Filter
 */
.widget_price_filter {
	.price_slider {
		margin-bottom: 1.5em;
	}

	.price_slider_amount {
		display: block;
		width: 100%;
		.button {
			font-size: 0.8rem;
			display: block;
			width:100%;
			background: $nb-color-blue;
			color:#fff;
			border:none;
			padding: 10px 0;
			&:hover {
				cursor: pointer;
			}
		}
		.price_label {
			font-size: 0.8rem;
			text-align: center;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		border-radius: 30%;
		cursor: ew-resize;
		outline: none;
		background: $nb-color-creme;
		box-sizing: border-box;
		margin-top: -.25em;
		opacity: 1;

		&:last-child {
			margin-left: -1em;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .25em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $nb-color-blue;
	}

	.price_slider_wrapper .ui-widget-content {
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
	
	
}


.widget {
	margin-bottom: 50px;

	&-title {
		font-size: 1rem;
		padding: 7px 0;
		border-bottom: 2px solid $nb-gray-darker;
		color: $nb-p-color;
		text-transform: uppercase;
	}
	
	&_product_categories {

		ul.product-categories {
			list-style: none;
			margin: 0;
			padding:0;
			
			> li.cat-item {
				border-bottom: 1px dashed $nb-gray-lighter;
				color: $nb-gray-darker;
				padding: 5px 0;
				font-size: 0.9em;
				
				a {
					float: left;
					display: block;
					color: $nb-p-color;
					text-decoration: none;
					padding: 3px;
					@include transition(all 0.2s,ease);
					&:hover {
						background: $nb-color-creme;
						color: #f5f5f5;
						@include transition(all 0.2s,ease);
						border-radius: 2px;
					}
				}
	
				span {
					float: right;
					display: block;
				}
	
				&::after {
					@include clearfloats();
				}
			}
		}
	}
}

	
//price

	
