
// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$enable-shadows: false;
//$enable-transitions: false;

$nb-bgnav: #fff;
$nb-color: #b7924e;
$nb-bg-color: #f5f5f5;

//gray group
$nb-gray-darker:  lighten(#000, 13.5%); // #222
$nb-gray-dark:    lighten(#000, 20%);   // #333
$nb-gray:         lighten(#000, 33.5%); // #555
$nb-gray-light:   lighten(#000, 46.7%); // #777
$nb-gray-lighter: lighten(#000, 93.5%); // #eee


//color
/*theme color*/
$nb-color-red: #60212b;
$nb-color-orange: #F7DC6F;
$nb-color-light: #fefefe;
$nb-color-violet: #293845;
$nb-color-blue: #4f6373;
$nb-color-brown: #8f8164;
$nb-color-creme: #b7924e;
$nb-color-dark: #3d3d3d;
$nb-color-footer: #f8f9fa;

//custom padding

/*padding base*/
$nb-padding-base-vertical:          6px;
$nb-padding-base-horizontal:        12px;

$nb-padding-large-vertical:         10px;
$nb-padding-large-horizontal:       16px;

$nb-padding-small-vertical:         5px;
$nb-padding-small-horizontal:       10px;

$nb-padding-xs-vertical:            1px;
$nb-padding-xs-horizontal:          5px;

$nb-padding-default:                30px;
$nb-padding-header:                 15px;

$nb-line-height-large:              1.33;
$nb-line-height-small:              1.5;

$nb-border-radius-base:             4px;
$nb-border-radius-large:            6px;
$nb-border-radius-small:            3px;

$nb-component-active-color:         #fff;
$nb-component-active-bg:            $nb-color-creme;

$nb-caret-width-base:               4px;
$nb-caret-width-large:              5px;


$nb-p-color: #616A6B;  

//text sizing
$standard-menu-size: calc(10px + 0.2vw);
$standard-font-size: calc(12px + 0.2vw);
$h1-size: calc(1.5em + 0.5vw);

$small-h1-rem: 1.2em;

$global-font-family:  'Roboto', sans-serif;
$secondary-font-family: 'Open Sans', Courier, monospace;


//social color
$fb-color: #3B5998;
$twitter-color: #1DA1F2;
$instagram-color: #262626;
$youtube-color: #DB4437;


@mixin the-transform($origin) {
    transform: $origin;
    -webkit-transform: $origin;
    -moz-transform: $origin;
    
}